__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/
dist/
build/
data/beta_files/
results/
*.bed
*.bed.gz
*.bed.gz.tbi
*.beta
*.bam
*.bai
*.bt2
*.fai
*.gzi
.DS_Store
test_run/
test_dmr/
test_stress/
data/hg19/
data/WBC_Panel_Top200_v7.9.xlsx
data/*.xlsx
